body {
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: gray;
}
.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.task-list {
    list-style-type: none;
    padding: 0;
}
.task-item {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-task {
    background-color: #b41919;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
